@{
    ViewBag.Title = "Index - Job Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<IOCContainerExample.Models.JobItem>


<h2>List of New Job Contacts</h2>
<table>
    <tr>
        <th>Company Name</th>
        <th>Job Title</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td id="@Html.DisplayFor(modelItem => item.jobID)">
                @Html.DisplayFor(modelItem => item.jobCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobTitle)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.jobID })
            </td>
        </tr>
    }
</table>
<br />
<br />
@Html.ActionLink("Home", "Index", "Home")
